<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    
    <form action="">
        
    </form>
        <ion-grid>
          <ion-row>
              <ion-col size=12>
                  <img src="./assets/images/logo.png" alt="">
              </ion-col>
              <ion-col size=12>
                  <ion-item>
                      <ion-label position="stacked">Nome</ion-label>
                      <ion-input inputmode="email"  type="email" required="true"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="stacked">E-mail</ion-label>
                      <ion-input inputmode="email"  type="email" required="true"></ion-input>
                  </ion-item>
              </ion-col>
          </ion-row>
        </ion-grid>
    
</ion-content>
